<h3>Ejemplo de Animacion en Angular</h3>

<div [@animaciones]='estado' class="caja">
  <p>Ejemplo</p>

</div>


<div class="botones">

  <p>Ejemplo de animacion {{ estado }}</p>

  <button mat-raised-button color='info' (click)="cambiarEstadoActivado()">
    {{estado === 'active' ? 'Desactivar' : 'Activar'}}
  </button>
  <button mat-raised-button color='primary' (click)="cambiarEstadoArriba()">
    {{estado === 'sube' ? 'Arriba' : 'Baja'}}
  </button>
  <button mat-raised-button color='info' (click)="cambiarEstadoPosicion()">
    {{estado === 'esquina' ? 'A la esquina' : 'Al Origen'}}
  </button>
  <button mat-raised-button color='primary' (click)="rota()">Girar</button>
  <button mat-raised-button color='primary' (click)="amplia()">Agranda</button>
  <button mat-raised-button color='primary' (click)="reduce()">Mas chico</button>
  <button mat-raised-button color='info' (click)="cambiarTamano()">
     {{estado === 'reducir' ? 'Ampliar' : 'Original'}}
  </button>

</div>
