.caja {
  height: 200px;
  width: 200px;
  margin: 40px auto;
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20%;
  box-shadow: #999;
  background-color: tomato;
  color: white;
  font-weight: bolder;
  font-size: medium;
  justify-content: center;
}

.botones {
  margin: 100px;
  margin-top: 100px;
  margin-bottom: 100px;

}
