<h1>Formulario reactivo!</h1>

<!-- Formulario Reactivo-->
<form [formGroup]="miFormulario">

   <!-- Prevializacion de los valores de los formularios-->
   <h2>Datos en vivo del formulario</h2>

   <!-- Usaremos un pipe-->
   <p>{{ miFormulario.value | json}}</p>

   <!-- Campos del formulario-->
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Nombre :</mat-label>
      <input matInput placeholder="nombre" formControlName="nombre" />
      <mat-icon matSuffix>satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Apellidos :</mat-label>
      <input matInput placeholder="apellidos" formControlName="apellidos" />
      <mat-icon matSuffix>satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Correo :</mat-label>
      <input matInput placeholder="todo@todo.com" formControlName="email" required>
      <mat-icon matSuffix>satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Telefono :</mat-label>
      <input matInput placeholder="telefono" formControlName="telefono" />
      <mat-icon matSuffix>satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Direccion :</mat-label>
      <input matInput placeholder="direccion" formControlName="direccion" />
      <mat-icon matSuffix>satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>

  <mat-toolbar class="barra_ventana">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon matIconSuffix></mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matIconSuffix>fav</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon matIconSuffix>share</mat-icon>
    </button>
  </mat-toolbar>


</form>
