<form [formGroup]="miFormularioArray">

  <h1>Formulario Array!!!</h1>

  <h3>Datos en Vivo del Formulario</h3>
  <p>{{ miFormularioArray.value | json }}</p>

  <!-- Campos de nombres y apellidos-->

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Nombres :</mat-label>
      <input matInput placeholder="nombre" formControlName="nombre"/>
      <mat-icon matSuffix>satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <mat-label>Apellidos :</mat-label>
      <input matInput placeholder="apellidos" formControlName="apellidos" />
      <mat-icon matSuffix>satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>

    </mat-form-field>
  </p>



  <!-- Agrupacion de telefonos de lista-->
  <div formArrayName="telefonos">
    <!-- Iteramos por cada uno de los telefonos presentes en la lista-->

    <div *ngFor="let telefono of telefonosFormulario.controls; let i = index" [formGroupName]="i">
         <h5>Telefono {{i}}</h5>

         <p>
           <mat-form-field appearance="fill">
             <mat-label>Pais :</mat-label>
             <input matInput placeholder="Pais" formControlName="pais" />
             <mat-icon matSuffix>satisfied</mat-icon>
             <mat-hint>Hint</mat-hint>
           </mat-form-field>
         </p>

         <p>
           <mat-form-field appearance="fill">
             <mat-label>Prefijo :</mat-label>
             <input matInput placeholder="Prefijo" formControlName="prefijo"/>
             <mat-icon matSuffix>satisfied</mat-icon>
             <mat-hint>Hint</mat-hint>
           </mat-form-field>
         </p>

         <p>
           <mat-form-field appearance="fill">
             <mat-label>Numero :</mat-label>
             <input matInput placeholder="Numero" formControlName="numero"/>
             <mat-icon matSuffix>satisfied</mat-icon>
             <mat-hint>Hint</mat-hint>
           </mat-form-field>
         </p>

        <section>
          <div class="example-label">Raised</div>
          <div class="example-button-row">
            <button mat-raised-button color="primary">Eraser</button>
            <a mat-raised-button (click)="eliminarTelefono(i)">Da click aqui para borrar</a>
          </div>
        </section>



        <!-- <button (click)="eliminarTelefono(i)">Borrar</button> -->
    </div>

  </div>

  <!-- Boton para anadoir telefono-->
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button color="accent">Add</button>
      <a mat-raised-button (click)="anadirTelefono()">Da click aqui para anadir telefono</a>
    </div>
  </section>

  <!-- <button (click)="anadirTelefono()">Anadir un nuevo telefono</button> -->

  <mat-toolbar class="barra_ventana">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon matIconSuffix></mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matIconSuffix>fav</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon matIconSuffix>share</mat-icon>
    </button>
  </mat-toolbar>



</form>
