<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  .content {
    display: float;
    float: left;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }



  /* Responsive Styles */

</style>

<!-- Toolbar -->

<div class="content" role="main">



    <span>{{ title }} {{ nombre }} app is running!</span>

    <!-- Router outlet rendariza el componente que indique el routing el Routing Module-->
    <!--


    <app-saludo [nombre]="nombre" (mensajejeEmitter)="recibirmensajeHijo($event)"></app-saludo>


    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>




  <input type="text" placeholder="Nombre del usuario" [(ngModel)]="nombre" />

  -->
  <!-- Ejemplo de uso de servicio-->

  <!--

  <h3><strong>Ejemplo de uso de Servicios</strong></h3>

  <app-lista-contactos></app-lista-contactos>

  <h3>Ejemplo de uso de servicios en Login Form</h3>

  <app-login-form></app-login-form>

  -->

  <!-- Ejemplo de uso de Servicio pero con una tabla de datos-->

  <!--
  <app-usuarios></app-usuarios>

  -->

  <!-- Ejemplos de Formularios Reactivos-->
  <app-formulario></app-formulario>


  <!-- Ejemplo de Formulario anidado-->
  <app-formulario-anidado></app-formulario-anidado>



  <!-- Ejemplo de Formulario Array-->
  <app-formulario-array></app-formulario-array>

  <!-- Ejemplo de Formulario Validado-->
  <app-formulario-validado></app-formulario-validado>

  <!-- Ejemplo para Pipes-->
  <app-ejemplo-pipes></app-ejemplo-pipes>




</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

