<form [formGroup]="miFormularioAnidado">

  <h1>Formulario Anidado!!</h1>

  <h3>Datos en vivo del Formulario</h3>
  <p>{{ miFormularioAnidado.value | json }}</p>

  <h4>Telefono Fijo:</h4>

  <div [formGroup]="miFormularioAnidado">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="nombre" formControlName="nombre" />

      <mat-icon matSuffix>Nombre</mat-icon>
      <mat-hint>Persona</mat-hint>
    </mat-form-field>

    <div formGroupName="fijo">
      <mat-form-field appearance="fill">
        <mat-label>Pais :</mat-label>
        <input matInput placeholder="pais" formControlName="pais"/>
        <mat-icon matSuffix>Pais</mat-icon>
        <mat-hint>Pais</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
         <mat-label>prefijo :</mat-label>
         <input matInput placeholder="prefijo" formControlName="prefijo"/>
         <mat-icon matSuffix>Prefijo</mat-icon>
         <mat-hint>Prefijo</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Numero :</mat-label>
        <input matInput placeholder="numero" formControlName="numero" />
        <mat-icon matSuffix>Numero</mat-icon>
        <mat-hint>Numero</mat-hint>
      </mat-form-field>



    </div>

    <div>
      <h4>Telefono Movil:</h4>
    </div>

    <div formGroupName="movil">
      <mat-form-field appearance="fill">
        <mat-label>Pais :</mat-label>
        <input matInput placeholder="pais" formControlName="pais"/>
        <mat-icon matSuffix>Pais</mat-icon>
        <mat-hint>Pais</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Prefijo :</mat-label>
        <input matInput placeholder="prefijo" formControlName="prefijo"/>
        <mat-icon matSuffix>Prefijo</mat-icon>
        <mat-hint>Prefijo</mat-hint>

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Numero :</mat-label>
        <input matInput placeholder="numero" formControlName="numero" />
        <mat-icon matSuffix>Numero</mat-icon>
        <mat-hint>Prefijo</mat-hint>
      </mat-form-field>


    </div>

  </div>

  <mat-toolbar class="barra_ventana">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon matIconSuffix></mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon matIconSuffix>fav</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon matIconSuffix>share</mat-icon>
    </button>
  </mat-toolbar>




</form>
